*
!.gitignore
!README.org
!.stowrc

!emacs
!emacs/.config
emacs/.config/*
!emacs/.config/.gitkeep
!home
!home/.gitkeep

#
# core .config
#
!core
!core/**

#
# niri
#
!niri
!niri/**


#
# misc configure
#
!mc-ini
!mc-ini/**
