*
!.gitignore
!.gitconfig
!README.org

# include config directories
!.config
!.local

#
# niri
#
!.config/niri
!.config/niri/**

!.config/waybar
!.config/waybar/**

#
# config files
#
!.config/mc
!.config/mc/ini

!.config/terminator
!.config/terminator/**

!.config/tmux
!.config/tmux/**

#
# include executable files
#
!.local/bin
!.local/bin/mtt-editor.sh

# rest of config files
!.local/trunk
!.local/trunk/**
