*
!.gitignore
!.gitconfig
!README.org


!.config/mc
!.config/mc/ini

!.config/terminator
!.config/terminator/**

!.config/tmux
!.config/tmux/**


!.local

!.local/bin
!.local/bin/mtt-editor.sh

!.local/trunk
!.local/trunk/**
